{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <section>
    <h1 class='title'>Редагування товару</h1>
    <div method='POST' action='/product-edit'>
      {{#with data.product}}
        <div class='product__edit'>
          <h2 class='product__edit-title'>Інформація про
              товар</h2>
          <div class="product__edit-body">
            
            <div class="product-input">
              <label for='name'>Назва товару</label>
              <input
                type='text'
                name='name'
                placeholder='{{name}}'
              />
            </div>
            <div class="product-input">
              <label for='price'>Ціна</label>
              <input
                type='number'
                name='price'
                placeholder='{{price}}'
              />
            </div>
            <div class="product-input">
              <label for='id'>ID</label>
              <input
                type='id'
                name='id'
                placeholder='{{id}}'
              />
            </div>
            <div class="product-input">
              <label for='description'>Короткий опис товару</label>
              <input
                type='text'
                name='description'
                placeholder='{{description}}'
              />
            </div>
          </div>
          
        <p>Відображається у картці товару</p>
        <div class="product__edit-button">
        <a
          href='product-edit?id={{id}}'
          type='submit'
          class='button button-primary'
        >Зберегти оновлення</a>
        <a
          href='/product-delete?id={{id}}'
          type='reset'
          class='button button-delete'
        >Видалити товар</a>
        </div>
      {{/with}}
        </div>


    </div>
  </section>

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}